.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.title{
    font-size: 100px;
    color: white;
    font-family: fantasy;
}

input{
    font-size: 20px;
}

.form-container {
    width: 40%;
    text-align: center;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    font-size: 30px;
}